/* Reset styles */

body, main, header, footer, div,
h1, h2, h3,
p, img, a, button, form, br,
nav, ul, li,
section, article, aside,
footer {
  margin: 0;
  padding: 0;
}

/* Global styles */

body {
  font-family: Arial, sans-serif;
  background-image: url("/assets/images/background.png");
  font-size: 14px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #333333;
}

#body-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* Header styles */

#header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

#header-title {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.header-title-text {
  font-size: 26px;
  font-weight: bold;
  color: #333333;
}

#nav {
  margin-top: 5px;
}

.header-nav-ul {
  list-style: none;
}

.header-nav-li {
  display: inline-block;
  margin-right: 5px;
}

.header-nav-link {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header-nav-link:hover {
  background-color: #f2f2f2;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 500px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

/* Dropdown styles */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f2f2f2;
}

/* Main section styles */

#main-container {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.main-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.main-section-article-container {
  flex: 2;
  margin-bottom: 5px;
  padding-right: 20px;
}

.main-section-article-header-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.main-section-article-p-text {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Article Links */

.main-section-article a {
  color: #333333;
  font-weight: bold;
}

/* Article Image Styles */

img.article-inline-img {
  width: 500px;
  height: auto;
  background: transparent;
  
}

/* Form styles */

form {
  margin-top: 20px;
  background-color: #ffffff;
}

form * {
  font-family: Arial, sans-serif;
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.fieldset-hr {
  width: 98%;
  margin-bottom: 20px;
  color: #333333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 98%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #006699;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #005588;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

/* Footer styles */

footer {
  font-size: 12px;
}

#footer-container {
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}

#footer-about,
#footer-social {
  margin-bottom: 10px;
  text-align: center;
  padding: 0 10px;
}

.footer-about-title {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.footer-about-p {
  margin-bottom: 5px;
}

.footer-about-p a {
  color: #333333;
  font-weight: bold;
}

.footer-social-ul {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}

.footer-social-li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social-icon {
  height: 12px;
  width: auto;
}
